################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AUIR_Software/AUIR_Software/AUIR_Software.csproj
