body {
  width: 100vw;
}
body .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body #navbarNavDropdown.show {
  right: 0px;
}
body #navbarNavDropdown {
  background-color: #050505;
  width: 468px;
  position: fixed;
  top: 0px;
  right: -468px;
  transition: ease-in-out all 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body #navbarNavDropdown button.navbar-toggler {
  outline: none;
  border: none;
  margin-right: auto;
}
body #navbarNavDropdown button.navbar-toggler svg {
  width: 59px;
  height: 59px;
}
body #navbarNavDropdown ul {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body #navbarNavDropdown ul .nav-item .nav-link {
  font-family: " Space Grotesk", sans-serif;
  color: white;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
}
body #navbarNavDropdown .nav-input label {
  font-family: inherit;
  font-size: 20px;
  color: #FFFEFC;
}
body #navbarNavDropdown .nav-input .input-group input {
  padding: 9px;
  border: 1px solid #fff;
  outline: 1px solid #fff;
  background: #1F1F1E;
}
body #navbarNavDropdown .nav-input .input-group button.btn-outline-secondary {
  padding: 5px;
}
body #navbarNavDropdown .nav-input .input-group button.btn-outline-secondary svg {
  width: 30px;
  height: 30px;
  color: #FF9E00;
}
body #navbarNavDropdown .tag-list .tag-list-item {
  border: 1px solid #6B6A69;
  border-radius: 200px;
  padding: 10px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
}
body #navbarNavDropdown .tag-list .tag-list-item span {
  font-family: "Space Grotesk";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
}
body header {
  padding: 5px 60px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
}
body header .navbar-nav {
  height: 70px;
}
body header .navbar-nav .nav-item .btn-chatbox {
  background-color: #FDBB4F;
  color: black;
  border-radius: 40px;
  padding: 18px 28px;
  border: 1.48px solid transparent;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
body header .navbar-nav .nav-item .btn-chatbox:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  right: -4px;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left 0px top 0px;
  background-repeat: no-repeat;
  border-radius: 38px;
  z-index: -1;
}
body header .custom-collapse-btn {
  position: relative;
  position: relative;
  background-color: black;
  border: 1.48px solid transparent;
  padding: 10px;
  margin-left: 25px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  color: #FFFEFC;
}
body header .custom-collapse-btn:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  right: -4px;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left 0px top 0px;
  background-repeat: no-repeat;
  border-radius: 38px;
  border-radius: 50%;
  z-index: -1;
}
body header .custom-collapse-btn img {
  width: 25px;
  height: 25px;
}
body .section {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
}
body #video-background {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  height: 100vh;
}
body .page {
  color: #FFFEFC;
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-margin-block: 0;
}
body .about-page-expand, body .home-page-expand {
  height: fit-content !important;
}
body .home-page .home-page-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
body .home-page .home-page-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  padding: 70px 60px;
  flex-flow: column;
}
body .home-page .home-page-content .wrap-limit-p {
  position: relative;
}
body .home-page .home-page-content .wrap-limit-p .spec {
  top: -100px;
  left: 25px;
  font-size: 91px;
  position: relative;
}
body .home-page .home-page-content .wrap-limit-p h1 {
  position: relative;
  font-family: "Sequel100Black-45";
  font-size: 185px !important;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
}
body .home-page .home-page-content .wrap-limit-p h1:first-child span {
  color: #fffffc;
}
body .home-page .home-page-content .wrap-limit-p h1:last-child span {
  color: #545352;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type {
  top: 65px;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 {
  display: block;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 span {
  display: block;
  transform: translateY(0);
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 span .spec {
  display: inline;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1:first-child span {
  line-height: 1.5;
}
body .home-page .home-page-content .wrap-limit-p:nth-of-type(2) {
  top: -40%;
}
body .home-page .home-page-content .wrap-limit-p:nth-of-type(2) h1 span {
  display: block;
  transform: translateY(100%);
}
body .home-page .home-page-content .title-3 {
  position: absolute;
  bottom: 70px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #FFFEFC;
  line-height: 25px;
}
body .home-page .home-page-content .title-3 img {
  width: 80px;
  height: 40px;
}
body .home-page .home-page-content .title-3 .wrap-limit-p {
  top: 10px;
  left: 10px;
  height: 50px;
  overflow: hidden;
}
body .home-page .home-page-content .title-3 .wrap-limit-p p {
  margin-bottom: 0;
}
body .home-page .home-page-expand {
  position: relative;
  z-index: 3;
  padding: 0px 60px;
}
body .home-page .home-page-expand a {
  color: #FF9E00;
  text-decoration: underline;
  font-size: 24px;
  padding-bottom: 2rem;
}
body .home-page .home-page-expand a:hover {
  color: inherit;
}
body .home-page .home-page-expand .home-page-expand-content {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FDBB4F 75%, #E27726 25%);
  border-image-slice: 1;
  margin-bottom: 30px;
}
body .home-page .home-page-expand .home-page-expand-content p {
  font-family: "Space Grotesk";
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  padding: 50px 0;
  color: #FFFEFC;
  margin-bottom: 0;
}
body .home-page .home-page-expand .home-page-expand-content p span {
  color: #FDBB4F;
}
body .about-page {
  margin-top: 250px;
}
body .about-page .about-bg .bg-img {
  top: 50%;
  transform: translateY(50%);
  position: relative;
  z-index: -10;
}
body .about-page .about-bg .bg-img img {
  display: block;
  animation: rotate 20s linear infinite;
}
body .about-page .about-bg {
  position: relative;
  overflow-x: hidden;
}
body .about-page .about-bg .about-content {
  overflow: hidden;
  position: relative;
  text-align: center;
  transform: translateY(-50%);
  margin-bottom: 500px;
  /*p:first-child {
  }

  p:last-child {
  }*/
}
body .about-page .about-bg .about-content > h1 {
  font-family: "Sequel100Black-45";
  position: relative;
  font-size: 463px;
  font-weight: 400;
  line-height: 699px;
  margin-top: 90px;
  margin-bottom: 0px;
  vertical-align: middle;
  text-align: center;
}
body .about-page .about-bg .about-content .hor-wrap {
  transform: translateY(100%);
}
body .about-page .about-bg .about-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
}
body .about-page .about-bg .about-image img:first-child {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(50%);
  z-index: 11;
}
body .about-page .about-bg .about-image img:last-of-type {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(50%);
  z-index: 11;
}
body .about-page .about-bg .about-image .about-page-expand {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  padding: 0 60px;
  z-index: 7;
}
body .about-page .about-bg .about-image .about-page-expand .about-page-expand-content {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FDBB4F 75%, #E27726 25%);
  border-image-slice: 1;
}
body .about-page .about-bg .about-image .about-page-expand .about-page-expand-content p {
  font-family: "Space Grotesk";
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  padding: 60px 0;
  color: #FFFEFC;
}
body .about-page .about-bg .about-image .about-page-expand .about-page-expand-content p span {
  color: #FDBB4F;
}
body .about-page .about-bg .about-image .about-page-expand .about-content-text {
  display: flex;
  flex-direction: row;
  padding: 28px 0;
}
body .about-page .about-bg .about-image .about-page-expand .about-content-text p:first-child {
  display: flex;
  font-family: "Satoshi", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #6B6A69;
  white-space: nowrap;
  margin-right: 135px;
}
body .about-page .about-bg .about-image .about-page-expand .about-content-text p:last-child {
  display: flex;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  color: white;
}
body .about-running-text {
  font-size: 2vw;
  font-family: "Courier New", Courier, monospace;
  height: 2.5vw;
  overflow: hidden;
  background-color: #000;
  position: relative;
}
body .about-running-text div {
  display: block;
  width: max-content;
  position: absolute;
  width: 100%;
  /*overflow: hidden;*/
}
body .about-running-text div .marquee__line {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-size: 18px;
  float: left;
  /*color: transparent;*/
  animation: marquee0 10s linear infinite;
  display: flex;
  justify-content: space-around;
}
body .about-running-text div .marquee__line p {
  display: flex;
  color: transparent;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
}
body .about-running-text div .marquee__line:last-child {
  animation: marquee1 10s linear infinite;
  animation-delay: -10s;
}
body .projects-page {
  margin-top: 450px;
}
body .projects-page .projects-title {
  padding: 60px;
  height: 100vh;
}
body .projects-page .projects-title .content-left {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
body .projects-page .projects-title .content-left img {
  max-width: 740px;
  height: fit-content;
}
body .projects-page .projects-title .content-left h5 {
  color: #FDBB4F;
  font-family: "Space Grotesk";
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 20px;
}
body .projects-page .projects-title .content-left h5 span {
  color: #E27726;
}
body .projects-page .projects-title .content-right {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: right;
}
body .projects-page .projects-title .content-right img {
  max-width: 424px;
  height: fit-content;
}
body .projects-page .projects-title .content-right h5 {
  color: #AFAEAB;
  font-family: "Space Grotesk";
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 20px;
}
body .projects-page .projects-detail {
  position: relative;
}
body .projects-page .projects-detail .projects-detail-item {
  position: relative;
}
body .projects-page .projects-detail .projects-detail-item .paralax {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
body .projects-page .projects-detail .projects-detail-item .projects-detail-item-content {
  position: absolute;
  left: 0;
  bottom: 20%;
  padding: 0 60px;
}
body .projects-page .projects-detail .projects-detail-item .projects-detail-item-content h3 {
  font-family: "Satoshi", sans-serif;
  font-size: 92px;
  font-weight: 500;
  line-height: 1.4;
}
body .projects-page .projects-detail .projects-detail-item .projects-detail-item-content p {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}
body .projects-page .projects-detail .projects-detail-item .projects-detail-item-content .describe-list {
  display: flex;
  flex-direction: row;
}
body .projects-page .projects-detail .projects-detail-item .projects-detail-item-content .describe-list .describe-list-item {
  border: 1px solid white;
  border-radius: 22px;
  padding: 10px 15px;
  font-family: "Space Grotesk";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  margin-left: 10px;
}
body .projects-page .projects-detail .see-all-projects {
  position: absolute;
  width: calc(100% - 120px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FDBB4F 75%, #E27726 25%);
  border-image-slice: 1;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
}
body .projects-page .projects-detail .see-all-projects a {
  text-decoration: none;
  font-family: "Satoshi", sans-serif;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.4;
  color: #FFFEFC;
}
body .projects-page .projects-detail .see-all-projects a svg {
  height: 100px;
  width: 100px;
  color: #FF9E00;
}
body .service-page {
  background-color: #FFFEFC;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
body .service-page .service-title {
  color: #545352;
  text-align: center;
}
body .service-page .service-title h5 {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
body .service-page .service-title h3 {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
}
@keyframes marquee0 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes marquee1 {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(359deg); /* some browsers don't display spin when it is 360 deg */
  }
}
