body {
  width: 100vw;
}
body .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body #navbarNavDropdown.show {
  right: 0px;
}
body #navbarNavDropdown {
  background-color: #050505;
  width: 468px;
  position: fixed;
  top: 0px;
  right: -468px;
  transition: ease-in-out all 0.2s;
}
body #navbarNavDropdown ul {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
body #navbarNavDropdown ul .nav-item .nav-link {
  font-family: " Space Grotesk", sans-serif;
  color: white;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
}
body #navbarNavDropdown ul .nav-item .nav-input label {
  font-family: inherit;
  font-size: 20px;
  color: #FFFEFC;
}
body #navbarNavDropdown ul .nav-item .nav-input .input-group input {
  padding: 9px;
  border: 1px solid #fff;
  outline: 1px solid #fff;
  background: #1F1F1E;
}
body #navbarNavDropdown ul .nav-item .nav-input .input-group button.btn-outline-secondary {
  padding: 5px;
}
body #navbarNavDropdown ul .nav-item .nav-input .input-group button.btn-outline-secondary svg {
  width: 30px;
  height: 30px;
  color: #FF9E00;
}
body #navbarNavDropdown ul .nav-item:first-child {
  left: -100px;
  position: relative;
}
body #navbarNavDropdown ul .nav-item:first-child button {
  outline: none;
  border: none;
}
body #navbarNavDropdown ul .nav-item:first-child button svg {
  width: 59px;
  height: 59px;
}
body header {
  padding: 5px 60px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
}
body header .navbar-nav {
  height: 70px;
}
body header .navbar-nav .nav-item .btn-chatbox {
  background-color: #FDBB4F;
  color: black;
  border-radius: 40px;
  padding: 18px 28px;
  border: 1.48px solid transparent;
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
body header .navbar-nav .nav-item .btn-chatbox:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  right: -4px;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left 0px top 0px;
  background-repeat: no-repeat;
  border-radius: 38px;
  z-index: -1;
}
body header .custom-collapse-btn {
  position: relative;
  position: relative;
  background-color: black;
  border: 1.48px solid transparent;
  padding: 10px;
  margin-left: 25px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  color: #FFFEFC;
}
body header .custom-collapse-btn:after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  top: -4px;
  right: -4px;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left 0px top 0px;
  background-repeat: no-repeat;
  border-radius: 38px;
  border-radius: 50%;
  z-index: -1;
}
body header .custom-collapse-btn img {
  width: 25px;
  height: 25px;
}
body #video-background {
  transform: translateY(-50%);
  position: relative;
  top: calc(50% + 70px);
  left: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 70px;
}
body section.home-page, body section.about-page, body section.project-page {
  color: #FFFEFC;
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-margin-block: 0;
}
body .home-page .home-page-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
body .home-page .home-page-content {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  padding: 70px 60px;
  flex-flow: column;
}
body .home-page .home-page-content .wrap-limit-p {
  position: relative;
}
body .home-page .home-page-content .wrap-limit-p .spec {
  top: -100px;
  left: 25px;
  font-size: 91px;
  position: relative;
}
body .home-page .home-page-content .wrap-limit-p h1 {
  position: relative;
  font-family: "Sequel100Black-45";
  font-size: 185px !important;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
}
body .home-page .home-page-content .wrap-limit-p h1:first-child span {
  color: #fffffc;
}
body .home-page .home-page-content .wrap-limit-p h1:last-child span {
  color: #545352;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type {
  top: 65px;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 {
  display: block;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 span {
  display: block;
  transform: translateY(0);
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1 span .spec {
  display: inline;
}
body .home-page .home-page-content .wrap-limit-p:first-of-type h1:first-child span {
  line-height: 1.5;
}
body .home-page .home-page-content .wrap-limit-p:nth-of-type(2) {
  top: -40%;
}
body .home-page .home-page-content .wrap-limit-p:nth-of-type(2) h1 span {
  display: block;
  transform: translateY(100%);
}
body .home-page .home-page-content .title-3 {
  position: absolute;
  bottom: 70px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #FFFEFC;
  line-height: 25px;
}
body .home-page .home-page-content .title-3 img {
  width: 80px;
  height: 40px;
}
body .home-page .home-page-content .title-3 .wrap-limit-p {
  top: 10px;
  left: 10px;
  height: 50px;
  overflow: hidden;
}
body .home-page .home-page-content .title-3 .wrap-limit-p p {
  margin-bottom: 0;
}
body .home-page-expand, body .about-page-expand {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0 60px;
  z-index: 2;
}
body .home-page-expand .home-page-expand-content, body .home-page-expand .about-page-expand-content, body .about-page-expand .home-page-expand-content, body .about-page-expand .about-page-expand-content {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FDBB4F 75%, #E27726 25%);
  border-image-slice: 1;
}
body .home-page-expand .home-page-expand-content p, body .home-page-expand .about-page-expand-content p, body .about-page-expand .home-page-expand-content p, body .about-page-expand .about-page-expand-content p {
  font-family: "Space Grotesk";
  font-size: 42px;
  font-weight: 400;
  line-height: 1.2;
  padding: 60px 0;
  color: #FFFEFC;
}
body .home-page-expand .home-page-expand-content p span, body .home-page-expand .about-page-expand-content p span, body .about-page-expand .home-page-expand-content p span, body .about-page-expand .about-page-expand-content p span {
  color: #FDBB4F;
}
body .home-page-expand .about-content-text, body .about-page-expand .about-content-text {
  display: flex;
  flex-direction: row;
  padding: 28px 0;
}
body .home-page-expand .about-content-text p:first-child, body .about-page-expand .about-content-text p:first-child {
  display: flex;
  font-family: "Satoshi", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #6B6A69;
  white-space: nowrap;
  margin-right: 135px;
}
body .home-page-expand .about-content-text p:last-child, body .about-page-expand .about-content-text p:last-child {
  display: flex;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  color: white;
}
body .home-page-expand a, body .about-page-expand a {
  color: #FF9E00;
  text-decoration: underline;
  font-size: 24px;
  padding: 27px 0;
}
body .home-page-expand a:hover, body .about-page-expand a:hover {
  color: inherit;
}
body .about-page .about-bg > img {
  display: block;
  animation: rotate 50s linear infinite;
}
body .about-page .about-bg {
  position: relative;
}
body .about-page .about-bg .about-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .about-running-text {
  font-size: 2vw;
  font-family: "Courier New", Courier, monospace;
  height: 2.5vw;
  overflow: hidden;
  background-color: #000;
  position: relative;
}
body .about-running-text div {
  display: block;
  width: max-content;
  position: absolute;
  width: 100%;
  /*overflow: hidden;*/
}
body .about-running-text div .marquee__line {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-size: 18px;
  float: left;
  /*color: transparent;*/
  animation: marquee0 10s linear infinite;
  display: flex;
  justify-content: space-around;
}
body .about-running-text div .marquee__line p {
  display: flex;
  color: transparent;
  background-image: url("../img/color_border.png");
  background-size: cover;
  background-position: left;
  -webkit-background-clip: text;
  background-clip: text;
}
body .about-running-text div .marquee__line:last-child {
  animation: marquee1 10s linear infinite;
  animation-delay: -10s;
}
@keyframes marquee0 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes marquee1 {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes rotate {
  to {
    transform: rotate(359deg); /* some browsers don't display spin when it is 360 deg */
  }
}
