@{
    ViewData["Title"] = "Home Page";
}

<div class="box">
    <div class="box-content">
        <section class="home-page page" id="Home">
            <div class="home-page-overlay">
            </div>
            <div class="home-page-content">
                <div class="wrap-limit-p">
                    <h1>
                        <span class="text-existed">
                            AUIR<span class="spec">®</span>
                        </span>
                    </h1>
                    </h1>
                    <h1>
                        <span class="text-existed">
                            SOFTWARE
                        </span>
                    </h1>
                </div>

                <div class="wrap-limit-p">
                    <h1>
                        <span class="text-removed">
                            DIGITAL
                        </span>
                    </h1>
                    <h1>
                        <span class="text-removed">
                            AGENCY
                        </span>
                    </h1>
                </div>

                <div class="title-3">
                    <img src="./asset/img/icon/li-icon.png" alt="AIUR Software" class="img-fluid" />
                    <div class="wrap-limit-p">
                        <p class="text-existed-s">
                            Software Agency <br />
                            based in CA, United State
                        </p>
                        <p class="text-removed-s">
                            Web-studio <br />
                            based in CA, United State
                        </p>
                    </div>
                </div>
            </div>

            <video autoplay muted loop id="video-background" style="z-index: 1">
                <source src="./asset/img/bg/hero_bg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        </section>

        <div class="home-page-expand page-expand">
            <div class="home-page-expand-content">
                <p>
                    Website development, customs software , innovative tech solutions. Each designed to <span>elevate your business</span> to interstellar heights.
                </p>
            </div>
            <a href="#">
                Project >
            </a>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-content">
        <section class="about-page page" id="About">
            <div class="about-bg">
                <div class="bg-img">
                    <img class="mx-auto" src="./asset/img/item/curve text.png" />
                </div>
                <div class="about-content">
                    <h1 class="img-ct">AIUR</h1>
                    <div class="hor-wrap d-flex flex-col">
                        <p>
                            A digital creative team
                            dedicated to streamline
                            your business
                        </p>
                        <p>
                            Expertise in multiple
                            fields digital projects
                        </p>
                    </div>
                </div>
                <div class="about-image">
                    <img src="./asset/img/item/Laptop.png" alt="" class="img-right" />
                    <img src="./asset/img/item/Phone.png" alt="" class="img-left" />
                </div>
            </div>
        </section>


    </div>
</div>


<div class="box">
    <div class="box-content">
        <section class="pr-title-page page" id="Pro">

            <div class="about-page-expand page-expand">
                <div class="about-page-expand-content">
                    <p>
                        We build creative approachs, having many years of successful expertise
                    </p>
                </div>
                <div class="about-content-text">
                    <p>
                        WHY US?
                    </p>
                    <p>
                        Our digital product are tailored to the use case. Over 32 completed projects, we ensure: efficient user guidance, modern design, high-quality programming, and the cutting-edge web development coding.
                    </p>
                </div>
                <div class="about-running-text">
                    <div>
                        <div class="marquee__line">
                            <p> Crafting Tomorrow's Solutions Today </p>
                            <p> Crafting Tomorrow's Solutions Today </p>
                            <p> Crafting Tomorrow's Solutions Today </p>
                        </div>
                        <div class="marquee__line">
                            <p> Crafting Tomorrow's Solutions Today </p>
                            <p> Crafting Tomorrow's Solutions Today </p>
                            <p> Crafting Tomorrow's Solutions Today </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projects-title col-12 row">
                <div class="col-7 content-left">
                    <img src="./asset/img/item/32.png" alt="" class="img-fluid mx-auto" />
                    <h5>Completed <span>projects</span></h5>
                </div>
                <div class="col-5 content-right">
                    <img src="./asset/img/item/12.png" alt="" class="img-fluid mx-auto" />
                    <h5>Years of experience</h5>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="box">
    <div class="box-content">
        <section class="projects-page page" id="Project">
            <div class="projects-detail">

                <div class="projects-detail-item">
                    <div class="paralax" style="background-image: url(./asset/img/bg/Project/LLC.png)"></div>
                    <div class="projects-detail-item-content">
                        <h3>Worldcraft Logistics</h3>
                        <p>Reliable 3PL Solutions & Supply Chain - official website</p>
                        <div class="describe-list">
                            <div class="describe-list-item">
                                Branding
                            </div>
                            <div class="describe-list-item">
                                UI/UX design
                            </div>
                            <div class="describe-list-item">
                                Front-end development
                            </div>
                            <div class="describe-list-item">
                                Back-end development
                            </div>
                        </div>
                    </div>
                </div>

                <div class="projects-detail-item">
                    <div class="paralax" style="background-image: url(./asset/img/bg/Project/Acexus.png)"></div>
                    <div class="projects-detail-item-content">
                        <h3>ACEXUS</h3>
                        <p>Transportation firm - official website</p>
                        <div class="describe-list">
                            <div class="describe-list-item">
                                Front-end development
                            </div>
                            <div class="describe-list-item">
                                Back-end development
                            </div>
                        </div>
                    </div>
                </div>

                <div class="projects-detail-item">
                    <div class="paralax" style="background-image: url(./asset/img/bg/Project/KAVIK.png)"></div>
                    <div class="projects-detail-item-content">
                        <h3>Kavik</h3>
                        <p>Cabinet & Countertop. Wood Furniture business website</p>
                        <div class="describe-list">
                            <div class="describe-list-item">
                                Front-end development
                            </div>
                            <div class="describe-list-item">
                                Back-end development
                            </div>
                        </div>
                    </div>
                </div>

                <div class="projects-detail-item " id="last-item">

                    <div class="paralax"></div>
                    <div class="projects-detail-item-content">
                        <div class="list">
                            <h3>Hong Duc 1 & Son</h3>
                            <p>Fish Sauce business - official website</p>
                            <div class="describe-list">
                                <div class="describe-list-item">
                                    Front-end development
                                </div>
                                <div class="describe-list-item">
                                    Back-end development
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <h3>AIUR Marketing</h3>
                            <p>Marketing agency official website</p>
                            <div class="describe-list">
                                <div class="describe-list-item">
                                    Branding
                                </div>
                                <div class="describe-list-item">
                                    UI/UX design
                                </div>
                                <div class="describe-list-item">
                                    Front-end development
                                </div>
                                <div class="describe-list-item">
                                    Back-end development
                                </div>
                            </div>
                        </div>
                        <div class="list">
                            <h3>Prestige Floors LTD</h3>
                            <p>Wood flooring materials business website</p>
                            <div class="describe-list">
                                <div class="describe-list-item">
                                    Front-end development
                                </div>
                                <div class="describe-list-item">
                                    Back-end development
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="see-all-projects">
                        <a href="#">
                            <span>See all projects</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                            </svg>
                        </a>
                    </div>

                </div>
            </div>

            <div class="service-page ">
                <div class="service-title">
                    <h5>OUR SERVICE</h5>
                    <h3>Get your business online with our expertises</h3>
                </div>
            </div>
        </section>

    </div>
</div>

<div class="box">
    <div class="box-content">
        <section class="vertical-scroll-list-page page" id="Services1">
            <div class="js-vertical-scroll-list">
                <ul>
                    <li class="js-vertical-scroll-list-item">&nbsp;</li>
                    <li class="js-vertical-scroll-list-item is-active">Web design</li>
                    <li class="js-vertical-scroll-list-item">Product design</li>
                    <li class="js-vertical-scroll-list-item">Development</li>
                    <li class="js-vertical-scroll-list-item">SEO</li>
                    <li class="js-vertical-scroll-list-item">Technical support</li>
                    <li class="js-vertical-scroll-list-item">&nbsp;</li>
                </ul>
            </div>
        </section>
    </div>
</div>

<div class="box">
    <div class="box-content">
        <section class="page" id="Services2">
            <div class="wrapper-title page">
                <div class="list-title">
                    <h5>Upgrade your website</h5>
                    <h5>with our</h5>
                    <h3>Advanced Features</h3>
                </div>
            </div>
            <div class="vertical-scroll-list-more-page page">
                <div class="js-vertical-scroll-list">
                    <ul>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[1]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>E-Commerce</h5>
                                </div>
                                <div class="item-pa">
                                    <p>E-commerce includes features such as product listings, shopping carts, secure payment gateways, order processing, and inventory management. It transforms a website into an online store, allowing businesses to showcase their offerings, accept orders, and process transactions entirely over the internet. </p>
                                </div>
                            </div>
                            <div class="about-running-text">
                                <div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[2]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>Content Management System</h5>
                                </div>
                                <div class="item-pa">
                                    <p>A Content Management System (CMS) is the engine behind a website, allowing easy creation, editing, and organization of digital content. It simplifies website management, enabling users to update content without technical expertise. With features like content editors and templates, CMS streamlines maintenance tasks, ensuring a seamless online experience.</p>
                                </div>
                            </div>
                            <div class="about-running-text">
                                <div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[3]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>API Integration</h5>
                                </div>
                                <div class="item-pa">
                                    <p>API Integration allows different software/hardware systems to talk to each other effortlessly. It makes your apps work together seamlessly, sharing information and getting things done faster. By using APIs, businesses can create a digital toolkit that simplifies tasks, boosts efficiency, and opens the door to new ways of working.</p>
                                </div>
                            </div>
                            <div class="about-running-text">
                                <div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[4]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>Analytics & Reporting</h5>
                                </div>
                                <div class="item-pa">
                                    <p>API Integration allows different software/hardware systems to talk to each other effortlessly. It makes your apps work together seamlessly, sharing information and getting things done faster. By using APIs, businesses can create a digital toolkit that simplifies tasks, boosts efficiency, and opens the door to new ways of working.</p>
                                </div>
                            </div>
                            <div class="about-running-text">
                                <div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[5]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>Advanced Security</h5>
                                </div>
                                <div class="item-pa">
                                    <p>Advanced Security is a set of measures and technologies designed to protect digital assets from cyber threats. It includes tools like encryption, firewalls, and intrusion detection systems to prevent unauthorized access and data breaches.</p>
                                </div>
                            </div>
                            <div class="about-running-text">
                                <div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                    <div class="marquee__line">
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                        <p> Crafting Tomorrow's Solutions Today </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="js-vertical-scroll-list-item">
                            <div class="item-content">
                                <div class="item-inx">
                                    <h5>[6]</h5>
                                </div>
                                <div class="item-title">
                                    <h5>AI/ChatBot Integration</h5>
                                </div>
                                <div class="item-pa">
                                    <p>AI/ChatBot is the game-changer your website needs - a virtual assistant that engages with visitors, answers questions, and provides personalized support 24/7. With AI-powered ChatBots, you can automate customer interactions, streamline processes, and enhance user experience.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="box">
    <div class="box-content">
        <section class="contact-page page" id="Clients">
            <div class="contact-page-form page">
                <div class="contact-content col-12">
                    <h3>
                        They said we’re good for a reason
                    </h3>
                    <div class="col-12 customer-cmt px-0">
                        <div class="col-4 customer-cmt-left">
                            <h5>Clients testimonial</h5>
                            <div class="row p-0 align-items-center">
                                <div class="col-3">
                                    <h6>9.9/10</h6>
                                </div>
                                <div class="col-9">
                                    <p>
                                        Our clients rate us excellent <br />
                                        We scored 9.9/10 based on 20 reviews
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 customer-cmt-right customer-slider">


                            <div class="col-12">
                                <p>This is the part where customer tell them how amazing we are. And we'll get to that. Your ideas, we generate the code — for everything from fully custom layouts to complex animations.</p>
                                <div class="avatar">
                                    <img src="./asset/img/icon/avatar.svg" alt="" />
                                    <div class="customer d-flex flex-column">
                                        <div class="start">
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                        </div>
                                        <p class="name">Olivia Bennet</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <p>This is the part where customer tell them how amazing we are. And we'll get to that. Your ideas, we generate the code — for everything from fully custom layouts to complex animations.</p>
                                <div class="avatar">
                                    <img src="./asset/img/icon/avatar.svg" alt="" />
                                    <div class="customer d-flex flex-column">
                                        <div class="start">
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                        </div>
                                        <p class="name">Olivia Bennet 1</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <p>This is the part where customer tell them how amazing we are. And we'll get to that. Your ideas, we generate the code — for everything from fully custom layouts to complex animations.</p>
                                <div class="avatar">
                                    <img src="./asset/img/icon/avatar.svg" alt="" />
                                    <div class="customer d-flex flex-column">
                                        <div class="start">
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                            <img src="./asset/img/icon/Star.svg" alt="" />
                                        </div>
                                        <p class="name">Olivia Bennet 2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-page-try page">
                <div class="vid-wrapper">
                    <video autoplay muted loop>
                        <source src="./asset/img/bg/hero_bg.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="contact-page-try-content">
                    <h3>
                        Let’s work together
                    </h3>
                    <button class="btn-content">
                        <img src="./asset/img/icon/Union.svg" alt="">
                        <span>Start a project with us</span>
                    </button>
                </div>
            </div>

        </section>
    </div>
</div>

<div class="box">
    <div class="box-content">
        <section class="footer-page page" id="Contact" style="z-index: 0">
            <div class="footer-content">
                <div class="row">
                    <div class="part-1">
                        <h2>AUIR<span class="spec">®</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="part-2 col-2">
                        <div class="list-item">
                            <ul>
                                <li><img src="./asset/img/icon/linkedin.svg" alt="" /></li>
                                <li><img src="./asset/img/icon/facebook.svg" alt="" /></li>
                                <li><img src="./asset/img/icon/instagram.svg" alt="" /></li>
                                <li><img src="./asset/img/icon/twitter.svg" alt="" /></li>
                                <li><img src="./asset/img/icon/tiktok.svg" alt="" /></li>
                                <li><img src="./asset/img/icon/youtube.svg" alt="" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class="part-3 col-10">
                        <div class="row flex-column">
                            <label>Subscribe to our newsletter</label>
                            <div class="mail-footer">
                                <input type="text" placeholder="Insert your email">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="row col-12 p-0">
                            <div class="col-5 p-0">
                                <ul class="menu">
                                    <li class="title">CONTACT US</li>
                                    <li class="list">aiursoftware@gmail.com" <br /> +90 (912) 546 696</li>
                                    <li class="list">2892 Barnes Street, Orlando, Florida</li>
                                </ul>
                            </div>
                            <div class="col-5 p-0">
                                <ul class="menu">
                                    <li class="title">LEGAL</li>
                                    <li class="list" style="text-decoration:underline">Term of use</li>
                                    <li class="list" style="text-decoration:underline">Privacy policy</li>
                                </ul>
                            </div>
                            <div class="col-2 p-0">
                                <div class="back-to-top">
                                    <img src="./asset/img/item/BACK TO THE TOP.png" alt="" />
                                    <img src="./asset/img/item/Arrow.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-signature">
                        <div class="d-flex align-items-center">
                            <img src="./asset/img/icon/Group.svg" alt="" />
                            <span>AIUR Software</span>
                        </div>
                        <div class="d-flex">
                            <span>© 2024 All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
