@import './variables.scss';

body {
    width: 100vw;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .projects-last-item > .slat {
        overflow: hidden;
        border: none;
        position: relative;
        transition: ease-in-out all 0.3s;        
    }





    #navbarNavDropdown.show {
        right: 0px;
    }

    #navbarNavDropdown {
        background-color: #050505;
        width: 468px;
        position: fixed;
        top: 0px;
        right: -468px;
        transition: ease-in-out all 0.2s;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button.navbar-toggler {
            outline: none;
            border: none;
            margin-right: auto;

            svg {
                width: 59px;
                height: 59px;
            }
        }

        ul {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .nav-item {
                .nav-link {
                    font-family: " Space Grotesk", sans-serif;
                    color: white;
                    font-size: 42px;
                    font-weight: 400;
                    line-height: 1.2;
                }
            }
        }

        .nav-input {
            label {
                font-family: inherit;
                font-size: 20px;
                color: #FFFEFC;
            }

            .input-group {
                input {
                    padding: 9px;
                    border: 1px solid #fff;
                    outline: 1px solid #fff;
                    background: #1F1F1E;
                }

                button.btn-outline-secondary {
                    padding: 5px;

                    svg {
                        width: 30px;
                        height: 30px;
                        color: #FF9E00;
                    }
                }
            }
        }

        .tag-list {
            .tag-list-item {
                border: 1px solid $Gray500;
                border-radius: 200px;
                padding: 10px 15px;
                margin-left: 10px;
                margin-bottom: 10px;
                display: flex;

                span {
                    font-family: "Space Grotesk";
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.2;
                    color: white;
                }
            }
        }
    }

    header {
        padding: 5px 60px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: black;

        .navbar-nav {
            height: 70px;

            .nav-item .btn-chatbox {
                background-color: $Primary500;
                color: black;
                border-radius: 40px;
                padding: 18px 28px;
                border: 1.48px solid transparent;
                position: relative;
                font-family: "Space Grotesk", sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 1.2;

                &:after {
                    content: '';
                    position: absolute;
                    width: calc(100% + 8px);
                    height: calc(100% + 8px);
                    top: -4px;
                    right: -4px;
                    background-image: url("../../asset/img/color_border.png");
                    background-size: cover;
                    background-position: left 0px top 0px;
                    background-repeat: no-repeat;
                    border-radius: 38px;
                    z-index: -1;
                }
            }
        }

        .custom-collapse-btn {
            position: relative;
            position: relative;
            background-color: black;
            border: 1.48px solid transparent;
            padding: 10px;
            margin-left: 25px;
            width: fit-content;
            height: fit-content;
            border-radius: 50%;
            color: $LightText;

            &:after {
                content: '';
                position: absolute;
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                top: -4px;
                right: -4px;
                background-image: url("../../asset/img/color_border.png");
                background-size: cover;
                background-position: left 0px top 0px;
                background-repeat: no-repeat;
                border-radius: 38px;
                border-radius: 50%;
                z-index: -1;
            }

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    .section {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: scroll;
    }



    #video-background {
        transform: translateY(-50%);
        position: relative;
        top: 50%;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: transparent;
        height: 100vh;
    }

    .page {
        color: $LightText;
        height: 100vh;
        width: 100vw;
        position: relative;
        scroll-margin-block: 0;
    }

    .about-page-expand, .home-page-expand {
        height: fit-content !important;
    }

    .home-page {
        background-color: black;

        .home-page-overlay {
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 2;
        }

        .home-page-content {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 3;
            display: flex;
            padding: 70px 60px;
            flex-flow: column;

            .wrap-limit-p {
                position: relative;

                .spec {
                    top: -100px;
                    left: 25px;
                    font-size: 91px;
                    position: relative;
                }

                h1 {
                    position: relative;
                    font-family: "Sequel100Black-45";
                    font-size: 185px !important;
                    line-height: 1;
                    font-weight: 400;
                    overflow: hidden;
                }

                h1:first-child span {
                    color: #fffffc;
                }

                h1:last-child span {
                    color: #545352;
                }
            }

            .wrap-limit-p:first-of-type {
                top: 65px;

                h1 {
                    display: block;

                    span {
                        display: block;
                        transform: translateY(0);

                        .spec {
                            display: inline;
                        }
                    }

                    &:first-child span {
                        line-height: 1.5;
                    }
                }
            }

            .wrap-limit-p:nth-of-type(2) {
                top: -40%;

                h1 span {
                    display: block;
                    transform: translateY(100%);
                }
            }



            .title-3 {
                position: absolute;
                bottom: 70px;
                font-family: "Space Grotesk", sans-serif;
                font-size: 20px;
                font-weight: 400;
                font-style: normal;
                color: #FFFEFC;
                line-height: 25px;

                img {
                    width: 80px;
                    height: 40px;
                }

                .wrap-limit-p {
                    top: 10px;
                    left: 10px;
                    height: 50px;
                    overflow: hidden;

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .home-page-expand {
            background-color: $Gray900;
            position: relative;
            z-index: 3;
            padding: 0px 60px;

            a {
                color: $Primary;
                text-decoration: underline;
                font-size: 24px;

                &:hover {
                    color: inherit;
                }
            }

            .home-page-expand-content {
                border-bottom: 1px solid;
                border-image: linear-gradient(to right, $Primary500 75%, $Primary700 25% );
                border-image-slice: 1;
                margin-bottom: 30px;


                p {
                    font-family: 'Space Grotesk';
                    font-size: 42px;
                    font-weight: 400;
                    line-height: 1.2;
                    padding: 50px 0;
                    color: $LightText;
                    margin-bottom: 0;

                    span {
                        color: $Primary500;
                    }
                }
            }
        }
    }


    .about-page {
        margin-top: 310px;
        background-color: black;
        mix-blend-mode: color;

        .about-bg {
            .bg-img {
                top: 50%;
                transform: translateY(50%);
                position: relative;
                z-index: -10;

                img {
                    display: block;
                    animation: rotate 20s linear infinite;
                }
            }
        }

        .about-bg {
            position: relative;
            overflow-x: hidden;

            .about-content {
                overflow: hidden;
                position: relative;
                text-align: center;
                transform: translateY(-50%);
                margin-bottom: 500px;


                & > h1 {
                    font-family: "Sequel100Black-45";
                    position: relative;
                    font-size: 463px;
                    font-weight: 400;
                    line-height: 699px;
                    margin-top: 90px;
                    margin-bottom: 0px;
                    vertical-align: middle;
                    text-align: center;
                }

                .hor-wrap {
                    transform: translateY(100%);
                }
                /*p:first-child {
                }

                p:last-child {
                }*/
            }

            .about-image {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                transform: translateY(-50%);
                z-index: 10;

                img:first-child {
                    position: absolute;
                    left: 0%;
                    top: 50%;
                    transform: translateY(50%);
                    z-index: 11;
                }

                img:last-of-type {
                    position: absolute;
                    right: 0%;
                    top: 50%;
                    transform: translateY(50%);
                    z-index: 11;
                }

                .about-page-expand {
                    background-color: rgba(0,0,0,0.5);
                    position: absolute;
                    top: 100%;
                    padding-top: 70px;
                    z-index: 7;

                    .about-page-expand-content {
                        border-bottom: 1px solid;
                        border-image: linear-gradient(to right, $Primary500 75%, $Primary700 25% );
                        border-image-slice: 1;
                        padding-left: 60px;
                        padding-right: 60px;

                        p {
                            font-family: 'Space Grotesk';
                            font-size: 42px;
                            font-weight: 400;
                            line-height: 1.2;
                            padding: 60px 0;
                            color: $LightText;

                            span {
                                color: $Primary500;
                            }
                        }
                    }

                    .about-content-text {
                        display: flex;
                        flex-direction: row;
                        padding: 28px 0;
                        padding-left: 60px;
                        padding-right: 60px;

                        p:first-child {
                            display: flex;
                            font-family: 'Satoshi', sans-serif;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 1.2;
                            color: $Gray500;
                            white-space: nowrap;
                            margin-right: 135px;
                        }

                        p:last-child {
                            display: flex;
                            font-family: 'Space Grotesk';
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 1.3;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .about-running-text {
        font-size: 2vw;
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        background-color: #000;
        position: relative;
        height: 50px;

        div {
            display: block;
            width: max-content;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .marquee__line {
                font-family: "Space Grotesk";
                font-weight: 300;
                font-size: 18px;
                float: left;
                /*color: transparent;*/
                animation: marquee0 10s linear infinite;
                display: flex;
                justify-content: space-around;

                p {
                    display: flex;
                    color: transparent;
                    background-image: url("../img/color_border.png");
                    background-size: cover;
                    background-position: left;
                    -webkit-background-clip: text;
                    background-clip: text;
                    margin-bottom: 0;
                }
            }

            .marquee__line:last-child {
                animation: marquee1 10s linear infinite;
                animation-delay: -10s;
            }
        }
    }

    .projects-page {
        margin-top: 450px;

        .projects-title {
            padding: 60px;
            height: 100vh;

            .content-left {
                padding: 10px;
                padding-left: 50px;
                display: flex;
                flex-direction: column;

                img {
                    max-width: 740px;
                    height: fit-content;
                }

                h5 {
                    color: $Primary500;
                    font-family: "Space Grotesk";
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 1.4;
                    padding-top: 20px;

                    span {
                        color: $Primary700;
                    }
                }
            }

            .content-right {
                padding-right: 50px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-items: right;

                img {
                    max-width: 424px;
                    height: fit-content;
                }

                h5 {
                    color: $Gray400;
                    font-family: "Space Grotesk";
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 1.4;
                    padding-top: 20px;
                }
            }
        }

        .projects-detail {
            position: relative;

            .projects-detail-item {
                position: relative;

                .paralax {
                    height: 100vh;
                    width: 100vw;
                    background-attachment: fixed;
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .projects-detail-item-content {
                    position: absolute;
                    left: 0;
                    bottom: 20%;
                    padding: 0 60px;
                    width: 100%;

                    h3 {
                        font-family: 'Satoshi', sans-serif;
                        font-size: 92px;
                        font-weight: 500;
                        line-height: 1.4;
                        border-bottom: 1px solid #FFFEFC;
                        padding-bottom: 15px;
                        margin-bottom: 25px;
                    }

                    p {
                        font-family: 'Satoshi', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.4;
                    }

                    .describe-list {
                        display: flex;
                        flex-direction: row;

                        .describe-list-item {
                            border: 1px solid white;
                            border-radius: 22px;
                            padding: 10px 15px;
                            font-family: "Space Grotesk";
                            font-size: 12px;
                            line-height: 1.2;
                            font-weight: 500;
                            margin-left: 10px;
                        }
                    }
                }
            }

            .projects-detail-item .projects-last-item {
                z-index: 2;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                overflow: hidden;
            }

            .see-all-projects {
                background-color: rgba(0,0,0,0.9);
                padding-left: 60px;
                padding-right: 60px;
                position: absolute;
                width: 100%;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-image: linear-gradient(to right, #FDBB4F 75%, #E27726 25%);
                border-image-slice: 1;
                margin-bottom: 10px;
                display: flex;
                justify-content: end;
                z-index: 3;

                a {
                    text-decoration: none;
                    font-family: 'Satoshi', sans-serif;
                    font-size: 72px;
                    font-weight: 500;
                    line-height: 1.4;
                    color: $LightText;

                    svg {
                        height: 100px;
                        width: 100px;
                        color: $Primary;
                    }
                }
            }
        }
    }

    .service-page {
        background-color: $LightText;
        display: flex;
        justify-content: center;
        align-items: center;

        .service-title {
            color: $DarkText;
            text-align: center;

            h5 {
                font-family: 'Satoshi',sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.4;
            }

            h3 {
                font-family: 'Satoshi',sans-serif;
                font-weight: 400;
                font-size: 44px;
                line-height: 1.2;
            }
        }
    }

    @keyframes marquee0 {
        0% {
            left: 0;
        }

        100% {
            left: 100%;
        }
    }

    @keyframes marquee1 {
        0% {
            left: -100%;
        }

        100% {
            left: 0%;
        }
    }
}


@keyframes rotate {
    to {
        transform: rotate(359deg); /* some browsers don't display spin when it is 360 deg */
    }
}
