$Primary400: #FFDE75;
$Primary500: #FDBB4F;
$Primary700: #E27726;
$Primary: #FF9E00;
$Gray300: #CBC9C7;
$Gray400: #AFAEAB;
$Gray500: #6B6A69;
$LightText: #FFFEFC;
$DarkText: #545352;




